
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*** header ***/

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
.header {
    background-color:#D9D9D9; 
}
.header-inner {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo {
    width: 178px;
    height: 100px;
}

.menu-list {
    display: flex;
    list-style-type: none;   
    font-family: 'alk-life', cursive;
}

.menu-list-link {
    text-decoration: none;
    color: #717276;
    margin-right: 38px;
}
.menu-list-link-contact {
    text-decoration: none;
    color: #717276;
    
}
.menu-list-link:hover {
    color: red;
}

/*** content1 ***/

.background-image {
    margin-top: 160px;
}

/*** content2 ***/

.content2 {
    margin-top: 160px;
}
.content-header2 {
    display: flex;
    align-items: center;
}

.title {
    font-family: 'dejavu', cursive;
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;
    padding-left: 40px;
    color: #717276;
}


.books {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.book2 {
    padding: 0 20px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 39px;
}

.writer {
    font-family: 'dejavu', cursive;
    font-size: 24px;
    font-weight: 700;
    line-height: 39px;
    color: #717276;

}

.book-name {
    font-family: 'alk-life', cursive;
    font-family: ALK Life;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;

}

.price {
    font-family: 'dejavu', cursive;
    font-size: 24px;
    font-weight: 700;
    line-height: 39px;
    color: #000000;
}


/*** content3 ***/

.content3 {
    margin-top: 160px;
}

.content-header3 {
    display: flex;
    align-items: center;
}


.authors-photo {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 40px;
}

.title {
    font-family: 'dejavu', cursive;
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;
    padding-left: 40px;
    color: #717276;
}


/*** footer ***/


.footer {
    background-color:#D9D9D9; 
    margin-top: 100px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 248px;
}

.footer-list  {
    display: flex;
    flex-direction: column;
    list-style-type: none;   
    font-family: 'alk-life', cursive;
    line-height: 30px;
}

.footer-link {
    text-decoration: none;
    color: #717276;
}

.footer-link:hover {
    color: red;
}

.icons {
    margin-bottom: 50px;
}

.icons, a {
    text-decoration: none;
}

.icon {
    margin-right: 21px;
}






@font-face {
    src: url(fonts/alk_life.otf);
    font-family: 'alk-life';
}

@font-face {
    src: url(fonts/bpg_dejavu_sans.otf);
    font-family: 'dejavu';
}